@import "../../../style/constants";


.progressBar__container{
  position: absolute;
  top: -1rem;
  z-index: 10;
  width: 100%;
  progress[value]{
    -webkit-appearance: none;
   appearance: none;
   width: 100%;
}
progress[value]::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}
progress[value]::-webkit-progress-value {
background-color:$redColor;
-webkit-animation: animate-stripes 5s linear infinite;
        animation: animate-stripes 5s linear infinite;
}
}

