//Google Fonts
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab|Open+Sans:400italic,700italic,400,700);

// variables
$offwhite: #f8f8f8;
$white:#fff;
$greyColor: #a2a2a2;
$redColor: #e52017;
$bodyBackgroundVolor:#f7f9f9;
$black:rgba(0, 0, 0, 0.8);
$videoImgHeight: 30vh;
$videImgWidth: 34vw;
$videoIamgeMobileHeight: 20vh;
$videoImageMobilewidth: 50vw;
$font:'Roboto Slab', serif;   


